  <head>
    <title><%= full_title(yield(:title)) %></title>
  </head>
    
  <body>
    <section class="hero gradient  is-fullheight">
      <%= render 'layouts/header'%>
      <div class="hero-body">
        <div class="container">
          <h1 class="title text-c">
            Welcome to the Sample App!!
          </h1>
          <h2 class="subtitle text-c">
            Get help on the Ruby on Rails Tutorial at the
            <a href="https://www.railstutorial.org/help">Rails Tutorial help section</a>.
            To get help on this sample app, see the
            <a href="https://www.railstutorial.org/book"><em>Ruby on Rails Tutorial</em> book</a>.
          </h2>
          <%= image_tag "cute.jpg", class: "subtitle"  %>
          <%= link_to "Sign up now", signup_path, class: "button is-large b-trans" %>
        </div>        
      </div>   
      <%= render 'layouts/footer'%>  
    </section>    
  </body>
  

